# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="https://ais-dev-z44dvzqgr3vhekmqxo5adt-54018553911.asia-east1.run.app"

# Supabase configuration
SUPABASE_URL="https://jyofirfxwujmqvtudslg.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5b2ZpcmZ4d3VqbXF2dHVkc2xnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMTMyMDQsImV4cCI6MjA4Nzg4OTIwNH0.K4Us06xDDma3SKMcV56hNLsbsnVEBnxiv7VNbM1OO6M"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp5b2ZpcmZ4d3VqbXF2dHVkc2xnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjMxMzIwNCwiZXhwIjoyMDg3ODg5MjA0fQ.TcHiGd0xuefzDRWuAxKF0W5MznYuUhw0nST0Nia6Q9s"
BOT_TOKEN=MTQ3ODM2NzE0MDQ3Mjk1MDgzNA.GVUdnZ.7aWLU1PynvQqtPXMf60Ab06MTSN38p9jrmRmpo
CHAN_ID=1476576159947821210
